[submodule "submodules/Lua"]
	path = submodules/Lua
	url = https://github.com/Sororfortuna/LuaCMake
[submodule "submodules/bullet3"]
	path = submodules/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "submodules/flecs"]
	path = submodules/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "tweeny"]
	path = tweeny
	url = https://github.com/mobius3/tweeny.git
[submodule "submodules/tweeny"]
	path = submodules/tweeny
	url = https://github.com/mobius3/tweeny.git
[submodule "submodules/tiny-AES-c"]
	path = submodules/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "submodules/libarchive"]
	path = submodules/libarchive
	url = https://github.com/libarchive/libarchive.git
