[submodule "submodules/Lua"]
	path = submodules/Lua
	url = https://github.com/Sororfortuna/LuaCMake
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/tweeny"]
	path = submodules/tweeny
	url = https://github.com/mobius3/tweeny.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/cglm"]
	path = submodules/cglm
	url = https://github.com/recp/cglm.git
[submodule "submodules/mustache"]
	path = submodules/mustache
	url = https://github.com/kirillochnev/mustache.git
[submodule "submodules/flecs"]
	path = submodules/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "submodules/rwkv.cpp"]
	path = submodules/rwkv.cpp
	url = https://github.com/saharNooby/rwkv.cpp.git
[submodule "submodules/enet"]
	path = submodules/enet
	url = https://github.com/zpl-c/enet.git
[submodule "submodules/libarchive"]
	path = submodules/libarchive
	url = https://github.com/libarchive/libarchive.git
